.index_nav.active{
    color: #fff!important;
    background-color: #32383e!important;
}
.index_nav{
    color: #32383e!important;
}
.index_nav_tab{
    color: #495057;
}
.card-img{
    margin: 10px!important;
    margin-left: 90px!important;
    width: 100px!important;
    height: auto!important;
}